<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:user="http://www.w3.org/1999/xhtml"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6 text-right">
			<a th:href="@{/}">Home</a>&nbsp;|&nbsp;
			<a th:href="@{/login}">Login</a> |&nbsp;
			<a th:href="@{/bidList/list}">bidList</a> |&nbsp;
			<a th:href="@{/curvePoint/list}">curvePoint</a> |&nbsp;
			<a th:href="@{/rating/list}">ratings</a> |&nbsp;
			<a th:href="@{/ruleName/list}">ruleName</a> |&nbsp;
			<a th:href="@{/trade/list}">trade</a>
		</div>
		<div class="col-6 text-right" sec:authorize="isAuthenticated()">
			Logged in user: <b sec:authentication="name"></b>
			<form th:action="@{/app-logout}" method="post">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Curve Point List</h2></div>
	<div class="row">
		<a th:href="@{/curvePoint/add}" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>CurvePointId</th>
					<th>Term</th>
					<th>Value</th>
					<th>creation Date</th>
					<th>asOfDate</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curvePoint : ${curvePoints}">
					<td style="width: 10%" th:text="${curvePoint.id}"></td>
					<td th:text="${curvePoint.id}"></td>
					<td th:text="${curvePoint.term}"></td>
					<td th:text="${curvePoint.value}"></td>
					<td th:text="${curvePoint.creationDate}"></td>
					<td th:text="${curvePoint.asOfDate}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/curvePoint/delete/{id}(id=${curvePoint.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	<footer style="position: fixed; bottom: 10px; right: 10px;">
		<img src="/images/logo.png" alt="Poseidon Capital Solutions" style="width:120px;">
	</footer>
</body>
</html>