<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
	<div class="row align-items-center mb-3">
		<div class="col-6 text-right">
			<a th:href="@{/}">Home</a>&nbsp;|&nbsp;
			<a th:href="@{/login}">Login</a> |&nbsp;
			<a th:href="@{/bidList/list}">bidList</a> |&nbsp;
			<a th:href="@{/curvePoint/list}">curvePoint</a> |&nbsp;
			<a th:href="@{/rating/list}">ratings</a> |&nbsp;
			<a th:href="@{/ruleName/list}">ruleName</a> |&nbsp;
			<a th:href="@{/trade/list}">trade</a>
		</div>
		<div class="col-6 text-end" sec:authorize="isAuthenticated()">
			Logged in user: <b sec:authentication="name"></b>
			<form th:action="@{/app-logout}" method="post" >
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
	<div class="row"><h2>Bid List</h2></div>
	<div class="row">
		<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
			<!-- affiche l'entête du tabelau -->
			<tr>
				<th>bidListId</th>
				<th>Account</th>
				<th>Type</th>
				<th>Bid Quantity</th>
				<th>askQuantity</th>
				<th>bid</th>
				<th>ask</th>
				<th>benchmark</th>
				<th>bidListDate</th>
				<th>commentary</th>
				<th>security</th>
				<th>status</th>
				<th>trader</th>
				<th>book</th>
				<th>creationName</th>
				<th>creationDate</th>
				<th>revisionName</th>
				<th>revisionDate</th>
				<th>dealName</th>
				<th>dealType</th>
				<th>sourceListId</th>
				<th>side</th>

				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<!-- affiche les données correspondant à l'entête dans le tableau-->
			<tr th:each="bidList : ${bidLists}">
				<td style="width: 10%" th:text="${bidList.bidListId}"></td>
				<td th:text="${bidList.account}"></td>
				<td th:text="${bidList.type}"></td>
				<td th:text="${bidList.bidQuantity}"></td>
				<td th:text="${bidList.askQuantity}"></td>
				<td th:text="${bidList.bid}"></td>
				<td th:text="${bidList.ask}"></td>
				<td th:text="${bidList.benchmark}"></td>
				<td th:text="${bidList.bidListDate}"></td>
				<td th:text="${bidList.commentary}"></td>
				<td th:text="${bidList.security}"></td>
				<td th:text="${bidList.status}"></td>
				<td th:text="${bidList.trader}"></td>
				<td th:text="${bidList.book}"></td>
				<td th:text="${bidList.creationName}"></td>
				<td th:text="${bidList.creationDate}"></td>
				<td th:text="${bidList.revisionName}"></td>
				<td th:text="${bidList.revisionDate}"></td>
				<td th:text="${bidList.dealName}"></td>
				<td th:text="${bidList.dealType}"></td>
				<td th:text="${bidList.sourceListId}"></td>
				<td th:text="${bidList.side}"></td>
				<td style="width: 15%" class="text-center">
					<!-- affiche les boutons pour update  -->
					<a th:href="@{/bidList/update/{id}(id=${bidList.bidListId})}">update</a>&nbsp;|&nbsp;
					<a th:href="@{/bidList/delete/{id}(id=${bidList.bidListId})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- affiche le logo en bas eà droite -->
<footer style="position: fixed; bottom: 10px; right: 10px;">
	<img src="/images/logo.png" alt="Poseidon Capital Solutions" style="width:120px;">
</footer>

</body>
</html>